<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Scope+One"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="resume">
      <header>
        <div class="primary">
          <span class="name">
            <span class="first">Cole</span>
            <span class="last">Franz</span>
          </span>
          <div class="icons">
            <a href="//github.com/colefranz/" target="_blank">
              <img src="assets/git.png" />
            </a>
            <a href="//www.linkedin.com/in/cole-franz/" target="_blank">
              <img src="assets/linkedin.png" />
            </a>
          </div>
          <!-- <p>BELIEVER OF BOX-SIZING: BORDER-BOX</p> -->
        </div>
        <div class="secondary">
          <p>iColeFranz@gmail.com</p>
          <p>403.771.5818</p>
          <p>Calgary, Alberta T3H 3R4</p>
        </div>
      </header>
      <div id="resume-body">
        <div id="education">
          <p class="item-header">Education</p>
          <div class="item">
            <div>BSc in Software Engineering, University of Calgary, 2017</div>
          </div>
        </div>
        <div id="core-skills">
          <p class="item-header">Core Skills</p>
          <ul class="in-columns">
            <li>Typescript, Vue, React, AngularJS, Workers</li>
            <li>NodeJS, MongoDB, Redis, Web Workers</li>
            <li>Cloud w/ AWS, dockerized deployments</li>
            <li>Teamwork, communication, agile, code reviews, RFCs</li>
          </ul>
        </div>
        <div id="experience">
          <p class="item-header">Experience</p>
          <div class="item">
            <div class="primary">
              <p class="title">Sr. Software Developer</p>
              <p class="company">Tempus</p>
              <p class="time-line">Nov 2022 - Present</p>
              <br />
              <p class="title">Software Developer</p>
              <p class="company">Arterys</p>
              <p class="time-line">Mar 2018 - Nov 2022</p>
            </div>
            <ul class="secondary">
              <li>
                Implemented feature rich medical image viewing web application
              </li>
              <li>Technical leader on imaging performance</li>
              <li>Team lead across full suite of features</li>
              <li>
                Worked to break apart monolith application into microfrontend w/
                cloud native services
              </li>
              <li>Overhauled application from AngularJS to Vue</li>
              <li>Integration with large offering of third party ML models</li>
              <li>
                Key code reviewer, focused ensuring high quality, maintainable
                software
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="primary">
              <p class="title">Software Developer</p>
              <p class="company">Calgary Scientific Inc.</p>
              <p class="time-line">May 2017 - Mar 2018</p>
            </div>
            <ul class="secondary">
              <li>Domain expert for Angular and React based web app</li>
              <li>
                Developed major functionality and bug fixes full stack with
                Javascript, C++ and Java
              </li>
              <li>Large focus on improving UX of existing applications</li>
              <li>
                Identified need for and created a full stack internal tools from
                scratch
              </li>
              <li>
                Code reviews and critical design decisions in the web client
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="primary">
              <p class="title">Consulting Specialist</p>
              <p class="company">Calgary Scientific Inc.</p>
              <p class="time-line">Nov 2016 - Jan 2017</p>
            </div>
            <ul class="secondary">
              <li>
                Developed experimental feature for major design show (RSNA)
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="primary">
              <p class="title">Dev/QA Intern</p>
              <p class="company">Calgary Scientific Inc.</p>
              <p class="time-line">May 2015 - Aug 2016</p>
            </div>
            <ul class="secondary">
              <li>Became domain expert for Angular and React web app</li>
              <li>
                Introduced magnifying OpenGL tool with a second rendering pass
              </li>
              <li>
                Code reviews and documentation in a agile team environment
              </li>
              <li>Write and update test cases to higher standards</li>
            </ul>
          </div>
        </div>
        <div id="additional-experience">
          <p class="item-header">Additional Experience</p>
          <div class="item">
            <div class="primary">
              <p class="title">Banquet Chef</p>
              <p class="company">Lynx Ridge Golf Club</p>
              <p class="time-line">Apr 2007 - Jan 2015</p>
            </div>
            <ul class="secondary">
              <li>
                Emphasis on communication under stress in a team environment
              </li>
              <li>Quickly promoted from dishwasher through the ranks</li>
              <li>
                Direct, professional interaction with customers in stressful
                situations
              </li>
              <li>Training of new employees</li>
            </ul>
          </div>
        </div>
        <div id="personal">
          <p class="item-header">Personal</p>
          <div class="item">
            <ul class="in-columns">
              <li>
                Avid gamer with a passion for improving and competitive teamwork
                games
              </li>
              <li>
                Bouldering, volleyball, hockey, skiing, cycling, self-taught
                unicycler and juggler
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
